:root {
  --border: #e5e4e7;
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  font: 18px/145% var(--sans, system-ui, sans-serif);
  letter-spacing: 0.18px;
}

@media (max-width : 899.95px) {
  html {
    font-size: 15px !important;
  }
}

body {
  margin: 0;
}

#root {
  /* width: 1126px; */
  max-width: 100%;
  margin: 0 auto;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}